// Media width
$mediaWidthLaptop: 1200px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 480px;
$mediaWidthMobileMin: 320px;

// Coloros
$black: #000;
$dark: #19171a;
$white: #fff;
$white-dark: #f4f7f8;
$blue-light: #f4f8fc;
$gold: #ffb51e;
$gold-dark: #bc881e;
$red: #9b0000;

$blue: #79b6d8;
$green: #009b51;
$green-dark: #086438;
$green-l: linear-gradient(107.52deg, #0dba48 -0.47%, #009b51 74.17%);
