.help-you {
	padding: 100px 0;
	&__title {
		width: 80%;
		font-size: 56px;
		font-weight: 300;
		text-align: left;
		padding: 0;
		margin: 0;
		margin: 0 auto;
		line-height: 1.2;
		text-transform: uppercase;
	}

	&__wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 20px;
		padding-top: 80px;
	}

	&__item {
		flex: 0 0 calc(33.333% - 18px);
		padding: 20px;
		border-radius: 25px;
		border: 1px solid $gold;
		background: $dark;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		p {
			line-height: 1.5;
			opacity: 0.8;
		}
	}

	&__icon {
		width: 50px;
		height: 50px;
	}
}

@include media-tablet {
	.help-you {
		padding: 60px 0;
		&__title {
			width: 100%;
			font-size: 36px;
			text-align: center;
		}

		&__wrapper {
			gap: 20px;
			padding-top: 60px;
		}

		&__item {
			flex: 0 0 calc(50% - 18px);
			padding: 20px;
			border-radius: 25px;
			background: $dark;
			p {
				line-height: 1.5;
				opacity: 0.8;
			}
		}

		&__number {
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			border: 1px solid $gold;
			text-align: center;
			font-weight: bold;
			color: $gold;
		}
	}
}

@include media-mobile-horizontal {
	.help-you {
		padding: 25px 0;
		&__title {
			font-size: 25px;
		}

		&__wrapper {
			gap: 20px;
			padding-top: 30px;
		}

		&__item {
			flex: 0 0 100%;
			padding: 5px 15px;
			border-radius: 16px;
			p {
				font-size: 14px;
			}
		}

		&__icon {
			width: 30px;
			height: 30px;
		}
	}
}
